/saved/
.idea
/venv/
/runs/
/wandb/
**/__pycache__/
**/.ipynb_checkpoints/
/analyisis/output/
/venv-3.8/
/analyisis/data/
/analyisis/data_cleaned_17/
/analyisis/data_cleaned_18/
/analyisis/data_cleaned_19/
/analyisis/data_cleaned_20/
/analyisis/data_cleaned_15/
/analyisis/data_new/
/analyisis/kde-recon/
/analyisis/smoothing-data-remote/
/analyisis/time-window-smoothing-data-remote/
/analyisis/time-window-smoothing-data-remote2/
